{% extends "base.html" %}

{% block content %}

<div class="text-center mt-5">

    <h1 class="display-4 fw-bold">
        🚚 TransitOps
    </h1>

    <p class="lead">

        Smart Fleet Management System

    </p>

    <p>

        Manage Vehicles, Drivers, Trips,
        Maintenance, Fuel and Expenses
        from one dashboard.

    </p>

    <br>

    {% if current_user.is_authenticated %}

        <a href="{{ url_for('dashboard.dashboard') }}"
           class="btn btn-primary btn-lg">

            Go to Dashboard

        </a>

    {% else %}

        <a href="{{ url_for('auth.login') }}"
           class="btn btn-primary btn-lg">

            Login

        </a>

        <a href="{{ url_for('auth.register') }}"
           class="btn btn-success btn-lg">

            Register

        </a>

    {% endif %}

</div>

<hr class="my-5">

<div class="row text-center">

<div class="col-md-4">

<h3>🚚 Vehicles</h3>

<p>Manage fleet information.</p>

</div>

<div class="col-md-4">

<h3>🛣 Trips</h3>

<p>Track ongoing and completed trips.</p>

</div>

<div class="col-md-4">

<h3>📊 Reports</h3>

<p>View operational insights.</p>

</div>

</div>

{% endblock %}